.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  background: none;
  bottom: 0;
  cursor: ew-resize;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  cursor: ew-resize;
  border: 1px solid;
  &:hover {
    width: 40px;
  }
}
